@import "src/scss/variables";
:host {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #7d8b7acb;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
