<div class="card" style="width: 18rem;">
  <img src="{{ data.content.imagen_150 }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>{{ data.content.nombre }}</b></h5>
    <table class="table">
      <tbody>
        <tr>
          <td class="td_label">CODIGO:</td>
          <td class="td_info">{{ data.content.codigo }}</td>
        </tr>
        <tr>
          <td class="td_label">MARCA:</td>
          <td class="td_info">{{ data.content.marca }}</td>
        </tr>        <tr>
          <td class="td_label">PRECIO:</td>
          <td class="td_info">{{ data.content.precio_venta }}</td>
        </tr>        <tr>
          <td class="td_label">ID LINEA:</td>
          <td class="td_info">{{ data.content.id_linea }}</td>
        </tr>        <tr>
          <td class="td_label">ID CATEGORIA:</td>
          <td class="td_info">{{ data.content.id_categoria }}</td>
        </tr>        <tr>
          <td class="td_label">COD PROVEEDOR:</td>
          <td class="td_info">{{ data.content.codigo_id_proveedor }}</td>
        </tr>        <tr>
          <td class="td_label">TIPO FABRICANTE:</td>
          <td class="td_info">{{ data.content.tipo_fabricante }}</td>
        </tr>        <tr>
          <td class="td_label">NUMERO PARTE:</td>
          <td class="td_info">{{ data.content.numero_parte }}</td>
        </tr>        <tr>
          <td class="td_label">LINEA:</td>
          <td class="td_info">{{ data.content.linea }}</td>
        </tr>        <tr>
          <td class="td_label">CATEGORIA:</td>
          <td class="td_info">{{ data.content.categoria }}</td>
        </tr>        <tr>
          <td class="td_label">DESCRIPCION:</td>
          <td class="td_info">{{ data.content.descripcion }}</td>
        </tr>        <tr>
          <td class="td_label">PRECIO MINIMO:</td>
          <td class="td_info">{{ data.content.precio_minimo }}</td>
        </tr> 
      </tbody>
    </table>
  </div>
</div>
