$category_color_life: orangered;
$category_color_sport: blue;
$category_color_style: red;

$default_white: whitesmoke;
$default_black: #000;
$file_white: #ccc;
$card_background: #196e63;

$button_purpure: #451e89;